<app-accordion
  [color]="colors[selectedColorId]"
  [items]="items"
></app-accordion>

<div class="colors-container">
  <h3>Elerheto szinek</h3>
  <div
    (click)="selectedColorId = i"
    class="color-item"
    *ngFor="let color of colors; let i = index"
  >
    <div
      [style.backgroundColor]="color.titleBackgroundColor"
      class="title-color"
    ></div>
    <div
      [style.backgroundColor]="color.detailsBackgroundColor"
      class="details-color"
    ></div>
    <div
      [style.backgroundColor]="color.titleBackgroundColorHover"
      class="hover-color"
    ></div>
    <div
      [style.backgroundColor]="color.titleColor"
      class="title-font-color"
    ></div>
    <div
      [style.backgroundColor]="color.detailsColor"
      class="detail-font-color"
    ></div>
  </div>
</div>
<button (click)="addItem()" class="addItem">Add Item</button>
