.addItem{
    margin: 50px 10px;
    font-size: 1.2rem;
    padding: 1rem;
    color: white;
    background-color: rgb(32, 32, 32);
    border: none;
    border-radius: 5px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    transition: all 0.2s;
}
.addItem:hover{
    background-color: rgb(82, 82, 82);
}
.color-item{
    margin: 30px ;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(79, 79, 79);
    transition: all 0.3s ease-out;
    overflow: hidden;
}
.color-item:hover{
    box-shadow: 3px 5px 10px rgba(63, 63, 63, 0.492);
}
.color-item div {
    height: 20%;
    width: 100%;
}